.form-control{
  color: white;
  background: transcrecent;
  font-weight: 570;
}
label{
  color: white;
  font-weight: 600;
}
hr{
  width: 50%;
  height: 2px;
  background-color: black;
}
.heading{
  color: white;
  text-align: center;
  padding-top: 2%;
}
.container-fluid{
  background-color: galaxy;
  border-radius: 4px;
  padding-bottom: 5%;
  box-shadow: 2px 2px 3px 2px grey;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 5%;
}
